USE [SIMACHDB]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 8/20/2025 8:53:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[Codigo] [char](5) NOT NULL,
	[codcope] [char](1) NULL,
	[TipTrab] [char](1) NULL,
	[TipoServ] [char](1) NULL,
	[ApePaterno] [varchar](35) NULL,
	[ApeMaterno] [varchar](35) NULL,
	[Nombre] [varchar](35) NULL,
	[NombreTotal] [varchar](100) NULL,
	[EstadoCivil] [char](1) NULL,
	[Sexo] [char](1) NULL,
	[Domicilio] [varchar](100) NULL,
	[Nacionalidad] [char](1) NULL,
	[Departamento] [char](2) NULL,
	[Provincia] [char](2) NULL,
	[Distrito] [char](2) NULL,
	[FecNacimiento] [datetime] NULL,
	[Fono01] [varchar](50) NULL,
	[DNI] [char](8) NULL,
	[LibMilitar] [char](10) NULL,
	[LibTributa] [char](7) NULL,
	[NumIPSS] [char](15) NULL,
	[GrupoSanguineo] [char](2) NULL,
	[FactorRH] [char](1) NULL,
	[TipoAlta] [char](1) NULL,
	[FechaIngreso] [datetime] NULL,
	[FechaIngreso1] [datetime] NULL,
	[DocIngreso] [varchar](100) NULL,
	[FechaBaja] [datetime] NULL,
	[DocBaja] [varchar](100) NULL,
	[FechaReingreso] [datetime] NULL,
	[TipoCont] [char](1) NULL,
	[VersionCC] [char](1) NULL,
	[CenCosto] [varchar](4) NULL,
	[CodTaller] [char](5) NULL,
	[TipoMano] [char](1) NULL,
	[TipoMano2] [char](1) NULL,
	[CodEspecialidad] [char](4) NULL,
	[Car_Tra] [char](4) NULL,
	[CodEspec2] [char](4) NULL,
	[CodSuministro] [char](4) NULL,
	[NivelMO] [char](1) NULL,
	[NivOcupacional] [char](4) NULL,
	[NivJerarquico] [char](3) NULL,
	[NivelEducativo] [char](2) NULL,
	[IArm] [char](2) NULL,
	[TarDiar] [numeric](10, 2) NULL,
	[FechaTarifa] [datetime] NULL,
	[TarDiar2] [numeric](10, 2) NULL,
	[FechaTarifa2] [char](10) NULL,
	[ImporteMensual] [numeric](14, 2) NULL,
	[TarHoraNormal] [numeric](10, 2) NULL,
	[TarHoraSobreTiempo] [numeric](10, 2) NULL,
	[TarHoraDoble] [numeric](10, 2) NULL,
	[TarHora25] [numeric](10, 2) NULL,
	[TarHora35] [numeric](10, 2) NULL,
	[TarHora100] [numeric](10, 2) NULL,
	[TarHoraIncentivo] [numeric](18, 2) NULL,
	[TarHoraBonificacion] [numeric](10, 2) NULL,
	[TTarSobretiempo] [char](1) NULL,
	[PorcNLBS] [numeric](6, 2) NULL,
	[PorcSLBS] [numeric](6, 2) NULL,
	[SobAutorizado] [numeric](10, 1) NULL,
	[SobAcumulado] [numeric](10, 1) NULL,
	[SobTaller] [numeric](10, 1) NULL,
	[Conyuge] [varchar](50) NULL,
	[CodNovedad] [char](2) NULL,
	[FechaInicio] [datetime] NULL,
	[FechaTermino] [datetime] NULL,
	[FechaVencimiento] [datetime] NULL,
	[CodigoAnt] [char](5) NULL,
	[CodigoNuevo] [char](5) NULL,
	[FechaAFP] [date] NULL,
	[Nro_AFP] [varchar](12) NULL,
	[Cod_AFP] [varchar](5) NULL,
	[cta_banco] [char](20) NULL,
	[cod_banco] [char](3) NULL,
	[cod_sucursal] [char](3) NULL,
	[ubigeo_nac] [char](6) NULL,
	[ubigeo_dom] [char](6) NULL,
	[grupo_profesional] [varchar](2) NULL,
	[NIVEL_Profesional] [varchar](4) NULL,
	[CTS_Banco] [char](3) NULL,
	[CTS_Moneda] [char](5) NULL,
	[CTS_Cuenta] [varchar](20) NULL,
	[IMPC_CTS] [numeric](10, 2) NULL,
	[DAUS_CTS] [numeric](8, 2) NULL,
	[MAR_JUB] [char](1) NULL,
	[IMP_CTS] [numeric](10, 2) NULL,
	[CodigoO7] [varchar](8) NULL,
	[tarhora42] [numeric](9, 2) NULL,
 CONSTRAINT [PK_Personal] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal_Correo]    Script Date: 8/20/2025 8:53:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal_Correo](
	[Periodo] [char](4) NULL,
	[Codigo] [char](5) NOT NULL,
	[Email] [varchar](50) NULL,
	[Email2] [varchar](50) NULL,
	[Tipo] [char](1) NULL,
	[M01] [char](1) NULL,
	[MV01] [char](1) NULL,
	[M02] [char](1) NULL,
	[MV02] [char](1) NULL,
	[M03] [char](1) NULL,
	[MV03] [char](1) NULL,
	[M04] [char](1) NULL,
	[MV04] [char](1) NULL,
	[M05] [char](1) NULL,
	[MV05] [char](1) NULL,
	[M06] [char](1) NULL,
	[MV06] [char](1) NULL,
	[M07] [char](1) NULL,
	[MV07] [char](1) NULL,
	[M07G] [char](1) NULL,
	[M08] [char](1) NULL,
	[MV08] [char](1) NULL,
	[M09] [char](1) NULL,
	[MV09] [char](1) NULL,
	[M10] [char](1) NULL,
	[MV10] [char](1) NULL,
	[M11] [char](1) NULL,
	[MV11] [char](1) NULL,
	[M12] [char](1) NULL,
	[MV12] [char](1) NULL,
	[M12G] [char](1) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Personal] ADD  CONSTRAINT [DF_Personal_TipTrab]  DEFAULT ('') FOR [TipTrab]
GO
ALTER TABLE [dbo].[Personal] ADD  CONSTRAINT [DF_Personal_VersionCC]  DEFAULT ('') FOR [VersionCC]
GO
ALTER TABLE [dbo].[Personal] ADD  CONSTRAINT [DF_Personal_CTS_MONEDA]  DEFAULT ('') FOR [CTS_Moneda]
GO
ALTER TABLE [dbo].[Personal] ADD  CONSTRAINT [DF_Personal_CTS_CUENTA]  DEFAULT ('') FOR [CTS_Cuenta]
GO
ALTER TABLE [dbo].[Personal] ADD  CONSTRAINT [DF_Personal_MAR_JUB]  DEFAULT ('') FOR [MAR_JUB]
GO
ALTER TABLE [dbo].[Personal]  WITH NOCHECK ADD  CONSTRAINT [FK_Personal_CodCope] FOREIGN KEY([codcope])
REFERENCES [dbo].[CodCope] ([CodCope])
GO
ALTER TABLE [dbo].[Personal] CHECK CONSTRAINT [FK_Personal_CodCope]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código Porta Retrato (PR)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'Codigo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo Centrio de Operaciones: A= Astillero, M= Metal Mecánica, I= Iquitos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'codcope'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tipo de trabajador: E= Empleado, O = Obrero' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'TipTrab'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tipo de Servicio C: Casa, T: terceros' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'TipoServ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Apellido Paterno' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'ApePaterno'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Apellido Materno' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'ApeMaterno'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre Completo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'Nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre Concatenado' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'NombreTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado Civil' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'EstadoCivil'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'sexo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'Sexo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Domicilio del trabajador' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'Domicilio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nacionalidad' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'Nacionalidad'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de Nacimiento' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'FecNacimiento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Telefono' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'Fono01'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'DNI del trabajador' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'DNI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'libreta Militar' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'LibMilitar'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'LibTributaria' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'LibTributa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha e ingreso de trabajador' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'FechaIngreso'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha e ingreso de trabajador' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'FechaIngreso1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Doc. de ingreso' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'DocIngreso'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de baja del trabajador' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'FechaBaja'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Doc. de Baja' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'DocBaja'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de Reingreso' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'FechaReingreso'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tipo de Contrato' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'TipoCont'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'version de CC' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'VersionCC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Centro de Costo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'CenCosto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código de Taller' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'CodTaller'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tipo de mano de Obra' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'TipoMano'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tipo de mano de Obra' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'TipoMano2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo de Especialidad' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'CodEspecialidad'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'cod.provisional tercerizacion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'CodSuministro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'nivel de mano de Obra' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'NivelMO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nivel Ocupacional' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'NivOcupacional'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'nivel Jerarquico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'NivJerarquico'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nivel Educativo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'NivelEducativo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Importe Mensual' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'ImporteMensual'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tarifa de Hora Normal' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'TarHoraNormal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tarifa Hora Doble' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'TarHoraDoble'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tarifa de la Hora al 25%' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'TarHora25'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tarifa de la Hora al 35%' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'TarHora35'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tarifa de la Hora al 100%' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'TarHora100'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tarifa de Hora Incentivo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'TarHoraIncentivo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tarifa Hora de Bonificacion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'TarHoraBonificacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Porcentaje' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'PorcNLBS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Porcentaje' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'PorcSLBS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Horas de Sobretiempo Autorizado' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'SobAutorizado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Horas de sobretiempo acumulado' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'SobAcumulado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'fecha de Inicio' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'FechaInicio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de termino' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'FechaTermino'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PR anterior' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'CodigoAnt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nro de PR en Unisys' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'CodigoNuevo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cod. Banco donde se deposita la CTS' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'CTS_Banco'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Moneda de deposito de CTS' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'CTS_Moneda'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nro de Cta de CTS' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'CTS_Cuenta'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Marca de Jubilacion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Personal', @level2type=N'COLUMN',@level2name=N'MAR_JUB'
GO
